Showcase___Google_Calender_Agent.json
{
  "name": "Showcase - Google Calender Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userQuery"
            },
            {
              "name": "jobDescription"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "66c1ddd4-cc6b-435b-a39a-90eca9456221",
      "name": "Personal Assistant Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        240
      ],
      "id": "3ffa2c51-f7eb-4672-abe9-6be308d658e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XasD8arNqxfUfYxM",
          "name": "communicationbot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=userQuery:\n{{ $json.userQuery }}\n\njobDescription:\n{{ $json.jobDescription }}",
        "options": {
          "systemMessage": "=You are an expert Google Calendar Manager.\n\nToday's date is: {{ $now }}\n\nYour job is to take in 'userQuery' and 'jobDescription' and determine which Google Calendar tool needs to be used in order to complete what is being requested.\n\nIf you don't have sufficient information to complete the task then ask the user for details in the category you need more details in."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "7cc0236c-1b15-4da8-b7fb-5da009fe3eb8",
      "name": "Google Calender Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        280,
        240
      ],
      "id": "1518fe12-e476-4d69-b949-57757cef9eb8",
      "name": "create_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SQhroPKYQyFvicbt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        420,
        240
      ],
      "id": "fca330fd-fcd6-4c93-9d81-deaab8af9805",
      "name": "search_all_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SQhroPKYQyFvicbt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete an event in Google Calendar",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        580,
        240
      ],
      "id": "d17ae704-a03a-40be-8981-74322f2f61aa",
      "name": "delete_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SQhroPKYQyFvicbt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an event in Google Calendar",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        700,
        200
      ],
      "id": "d1aa6ccd-d9e9-4b7a-b21a-b0b2a9e64889",
      "name": "update_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SQhroPKYQyFvicbt",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Personal Assistant Data": {
      "main": [
        [
          {
            "node": "Google Calender Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Google Calender Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "create_events": {
      "ai_tool": [
        [
          {
            "node": "Google Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_all_events": {
      "ai_tool": [
        [
          {
            "node": "Google Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_events": {
      "ai_tool": [
        [
          {
            "node": "Google Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_event": {
      "ai_tool": [
        [
          {
            "node": "Google Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cf13e8f-3ae6-40cb-b5b8-9c3081f39521",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "486b3918d83345a21c3d5061a20fa8219700ba4ab2edaaa9cda56713faac1fef"
  },
  "id": "lA6iqsCR3Ei35bjj",
  "tags": []
}